{% extends 'layout.html' %}
{% block content %}
<div class="flex flex-col items-center">
    <div class="pt-24">
        <h1 class="text-3xl font-bold dark:text-white text-black">
            Agency
        </h1>
    </div>
    <div class="pt-8 pb-16">
        <h1 class="text-xl font-bold dark:text-white text-black">
            Hello, {{ user.username }}!
        </h1>
    </div>



<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-[800px] ">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 text-center">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Field
                </th>
                <th scope="col" class="px-6 py-3">
                    Data
                </th>
            </tr>
        </thead>
        <tbody>
        {% for i in data.items %}
            <tr>
                <th>
                    {{ i.0 }}
                </th>
                <td>
                    {{ i.1 }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


</div>
{% endblock %}