{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="flex flex-col space-y-16 items-center w-full">

<section class="bg-center bg-no-repeat bg-[url({% static 'images/sce.jpg' %})] bg-gray-700 bg-blend-multiply" data-aos="flip-up">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56" data-aos="zoom-in">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
            ATLAS RESCUE</h1>
        <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Uniting global heroes for rapid disaster response through seamless geocoding-powered coordination.</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href="{% url 'report:home' %}" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Report
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>

        </div>
    </div>
</section>



<div class="flex md:space-x-8 self-center max-md:flex-col max-md:space-y-8 justify-center pt-40 text-center">



<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" data-aos="fade-right">
    <a href="#">
        <img class="rounded-t-lg" src="{% static 'images/image.jpg' %}" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Unified Communication Hub</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Experience seamless collaboration with Atlas Rescue's centralized communication platform.</p>

    </div>
</div>



<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" data-aos="fade-up">
    <a href="#">
        <img class="rounded-t-lg" src="{% static 'images/image.jpg' %}" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Geocoding Integration</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Atlas Rescue incorporates advanced geocoding APIs, precisely mapping disaster locations.</p>

    </div>
</div>



<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" data-aos="fade-left">
    <a href="#">
        <img class="rounded-t-lg" src="{% static 'images/image.jpg' %}" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Resource Allocation Dashboard</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Our app features an intuitive dashboard for resource allocation, enabling agencies to monitor and manage supplies efficiently. </p>

    </div>
</div>


</div>

<div class="pt-40">

</div>

   <div data-aos="flip-up" class="w-[700px]">
            <iframe class="mx-auto w-full lg:max-w-xl h-64 rounded-lg sm:h-96 shadow-xl" src="https://www.youtube.com/embed/KaLxCiilHns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>



</div>

{% endblock %}